{% extends 'base.html' %}
{% block page_content %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% load static %}
    <style>
        body {
            background-image: url("{% static "images/ouraring.jpg" %}");
            background-size: 35%;
            background-repeat: repeat-x;
        }
    h4 {
        font-size:3vw
    }
</style>

<div class="container" style="opacity: 0.7">
    <h3 style="font-size:4vw; text-align: center; margin-top: 137px"><b>my Advanced Oura Ring page</b></h3>
    <div class="card shadow" style="padding: 20px">
        <h4>How did I sleep? Syvän unen määrä, Min</h4>
                <h1 style="font-size: xxx-large; text-align: center"><b>{{ context.sleepdata }} </b></h1>
    </div>
    <div class="card shadow" style="padding: 20px">
        <h4>Am I ready? Koulutodistus.</h4>
        <h1 style="font-size: xxx-large; text-align: center"><b>{{ context.readydata }}</b></h1>
        {% if context.valmiusero > 0 %}
                <p style="color: green; font-size: xx-large; text-align: center">
                    <b>Hyvin menee! Parempi vireys kuin eilen.</b>
                    <small><button style="border-radius: 50%; background-color: green">{{ context.valmiusero }}</button></small></p>
        {% else %}
                <p style="color: crimson; font-size: xx-large; text-align: center">
                    <b>Tsemppiä päivään, eilen oli vähän parempi vireyslähtö.</b>
                    <small><button style="border-radius: 50%; background-color: crimson">{{ context.valmiusero }}</button></small></p>
        {% endif %}
    </div>
    <div class="card" style="padding: 20px">
        <h4>Am I active? Eilen ja tänään kävellyt kilsat</h4>
        {% if context.plusmiinus > 0 %}
            <i class="fa fa-heart" style="color: crimson; font-size: xx-large; text-align: center">
                <p style="color: green">Hyvin menee! Olet liikkunut enemmän kuin eilen.</p></i>
        {% else %}
            <i class="fa fa-thumbs-down" style="color: darkblue; font-size: xx-large; text-align: center">
                <p>Olet liikkunut vähemmän kuin eilen, pystyt parempaan, liikkeelle siitä!</p></i>
        {% endif %}
        <p style="text-align: center"><small>{{ context.steps }} askelta tänään</small></p>
    </div>
    <div class="card shadow" style="padding: 20px">
        <h4>BMI</h4>
        <h1 style="font-size: xxx-large; text-align: center"><b>{{ context.bmi }}</b></h1>
        <canvas id="myMoves" style="padding: 10px">
            <script>
            var config = {
              type: 'line',
              data: {
                datasets: [{
                  data: [
                      {% for a in context.a_2h %}
                      {{ a }},
                      {% endfor %}
                  ],
                  label: 'My latest moves'
                }],
                labels: ['','','','','','','','','','','','','','','','','','','','','','','','']
              },
              options: {
                responsive: true
              }
            };
            window.onload = function() {
              var ctx = document.getElementById('myMoves').getContext('2d');
              window.myPie = new Chart(ctx, config);
            };
            </script>
        </canvas>
    </div>
    <div class="card shadow" style="padding: 20px">
        <h4>Milloin on oikea aika unille?</h4>
        <p style="text-align: center">Oura vastaa: {{ context.nukkumaan }}</p>
        {% if context.unille == None %}

        {% else %}
            <h3 style="font-size: x-large; text-align: center"><b>Viimeistään {{ context.tyynyaika }} nukkumaan</b></h3>
        {% endif %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %}